# Fundamentals of Data Analysis Project - 2023

*Author: Conor Tierney*

This is a project investigating the well known Fisher's IRIS data set for the Funadmentals of Dta Analysis module in the Higher Diploma in Science in Computing in Data Analytics at ATU.

***

## Table of Contents

* [Fisher's IRIS flower data set](#Fisher's-IRIS-flower-data-set)   
* [Analysis](#Analysis)

## Fisher's IRIS flower data set
****
The Fisher's Iris dataset is a widely used dataset in data analysis and statistics. It contains measurements of the various physical features of 3 types of Iris flowers, namely Setosa, Versicolor, and Virginica. It consists of 50 records for each of the 3 species.
The dataset was created by Ronald Fisher in 1936 to show how discriminant analysis can tell different types of plants apart. It's a well-known dataset for exploratory data analysis, classification, clustering, and visualization purposes. The data set contains 5 columns such as Petal Length, Petal Width, Sepal Length, Sepal Width and Species type [1].

![iris flowers](https://s3.amazonaws.com/assets.datacamp.com/blog_assets/Machine+Learning+R/iris-machinelearning.png)

## Classification of variables in the Iris data set

see data types lecture

### **Quantitative/Numeric variables**:  
The physical measurement of the sepals and petals of the Iris flowers represent quantitative, continuous type variables. The scale of measurment is ratio.

- Sepal length(cm)
- Sepal width(cm)
- Petal length(cm) 
- Petal width(cm) 

### **Categorical Variable**
The species variable is a categorical type with a nominal scal of measurement. The categories listed below have no order or ranking.

- Setosa
- Versicolor
- Virginica

## Analysis- Summary statistics 
*****

### Summary statistics to describe each variable.

In [28]:
# import libraries
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

import seaborn as sns

In [29]:
# Load the Iris data set from .csv file.
# read data set  into data frame
iris = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")

In [30]:
# show a summary of the Iris dataset.
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [31]:
# verify and list the types of data in the set
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [32]:
# Verify the dataset's structure and variables.
# Show the top 10 rows
iris.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [37]:
# columns and their data types
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

We can see that one column has categorical data and the other 4 columns are numeric.

In [34]:
# Statistical summary of the dataset.
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Above we have the count of each column along with their mean value, standard deviation, minimum and maximum values.

In [35]:
# the means summary for the numeric variables
iris.mean()

C:\Users\conor\AppData\Local\Temp\ipykernel_27720\4166328544.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  iris.mean()

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [36]:
# Summary of count of each species
iris.value_counts("species")

species
setosa        50
versicolor    50
virginica     50
dtype: int64

We can see that all of the species have an equal amount of rows = 50.

## Running the code 
********
1. Install anaconda
2. Install VScode
3. clone the repositiory
4. Run respsitory in VScode

## Plots
******
*Select, demonstrate, and explain the most appropriate plot(s) for each variable.*  
count plots  
histograms  
pariplot - seaborn  
scatter plots

## Conclusion/ Summary
*****
observations when comparing variables   
relationships in variables ?  

use of visualisations / analysis?

## References

******

[1] [IRIS data set](https://archive.ics.uci.edu/ml/datasets/iris)  
[2] [Flowers Image](https://www.google.com/url?sa=i&url=http%3A%2F%2Fwww.lac.inpe.br%2F~rafael.santos%2FDocs%2FCAP394%2FWholeStory-Iris.html&psig=AOvVaw3vuSUpDpq4vyqlRaxUjtG4&ust=1702830492894000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCJiGqpGwlIMDFQAAAAAdAAAAABAO)  
[3] [iris.csv](https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv)    
[](https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv)
[]()
[]()
[]()

## End

***